.hero-section {
  /* max-height: 400px; */
  position: relative;
  overflow: hidden;
}
/* .hero-section > img {
  height: 100%;
  width: 100%;
}

.info_div {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.04);
}

.info {
  display: flex;
  justify-content: center;
}
@media (max-width: 450px) {
  .hero-section > img {
    height: 200px;
  }
} */


.sust{
    min-height: 300px;
}